.word-count{
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    width: 100%;
    border-radius: 5px;
}


.text-area {
    display: flex;
    background-color: white;
    width: 98%;
    height: 300px;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #b6b6b6;
    margin: 10px;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.info > div {
    padding: 15px;
    display: flex;
    color: #c4c3c4;
}

.calculateBtn {
    display: flex;
    width: 119px;
    font-size: 20px;
    font-family: fangsong;
    border: 1px solid #636363;
    background: azure;
    border-radius: 6px;
    margin: 10px;
}

.symbol-in-textarea, .space-in-textarea, .word-in-textarea  {
    margin-left: 10px;
    color: azure;
}